* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: black;
}

svg {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    background: white;
}

.hidden {
    visibility: hidden;
}