.register{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.register input {
    width: 100%;
    padding: 4px;
    font-size: 1em;
}

.register button {
    background-color: blue;
    color: white;
}

.register .title {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: solid 1px rgba(red, green, blue, 0.5);
}