button, .btn {
    background: none;
    padding: 0.5rem;
    &.outline {
        border-width: 2px;
        border-style: solid;
    }
    &.notoutline {
        border: none;
    }
    &.sm {
        padding: 0.2rem;
    }
    * {
        font-size: inherit;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.btn-circle {
    border-radius: 50%;
}
