/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("font/MaterialIcons-Regular.eot"), local('Material Icons'), local('MaterialIcons-Regular'), url("font/MaterialIcons-Regular.woff2") format('woff2'), url("font/MaterialIcons-Regular.woff") format('woff'), url("font/MaterialIcons-Regular.ttf") format('truetype');
}

.icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    /* Preferred icon size */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr; // padding-right: 0.25rem;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.img-circle {
    border-radius: 50%;
}

.img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img-contain {
    @extend .img;
    background-size: contain;
}

.img-cover {
    @extend .img;
    background-size: cover;
}

.img-auto {
    @extend .img;
    background-size: auto;
}

.svg-facebook {
    background-image: url('/assets/svg/facebook.svg');
}
.svg-youtube {
    background-image: url('/assets/svg/youtube.svg');
}
.svg-twitter {
    background-image: url('/assets/svg/twitter.svg');
}
.svg-instagram {
    background-image: url('/assets/svg/instagram.svg');
}
.svg-wikipedia,
.svg-wiki {
    background-image: url('/assets/svg/wikipedia.svg');
}
.svg-google-plus {
    background-image: url('/assets/svg/google-plus.svg');
}