$success: green;
$warning: orange;
$orange: orange;
$dangerous: red;
$white: white;
$black: black;
$highlight: yellow;
// define [ {name, main-width, header-height, font-size} ]
$defines: ( 'xl', 1920px, 128px, 2rem, 8),
( 'lg', 1440px, 96px, 1.5rem, 6),
( 'nm', 1366px, 64px, 1rem, 4),
( 'sm', 1280px, 48px, 0.75rem, 3),
( 'xs', 1024px, 32px, 0.5rem, 2);
$defines-color:('success', $success),
('highlight', $highlight),
('warning', $warning),
('dangerous', $dangerous),
('orange', $orange),
('black', $black),
('black-05', rgba($black, 0.5)),
('white', $white);
$defines-pm: (1, 4px),
(2, 8px),
(3, 12px),
(4, 16px),
(5, 20px);
$defines-pmname: ('l', 'r', 'lr', 't', 'b', 'tb', null);
.txt-center {
    text-align: center;
}

.txt-r {
    text-align: right;
}

.txt-l {
    text-align: left;
}

.txt-bold {
    font-weight: bold;
}

.txt-italic {
    font-style: italic;
}

.btn {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.row {
    width: 100%;
}

.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.link {
    text-decoration: none;
    color: inherit;
}

.block {
    display: block;
}

.iblock {
    display: inline-block;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
}

.flex-center {
    @extend .flex;
}

.align-center {
    display: flex;
    align-items: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}