$success: green;
$warning: orange;
$orange: orange;
$dangerous: red;
$white: white;
$black: black;
$highlight: yellow;
// define [ {name, main-width, header-height, font-size} ]
$max-number-col: 13;
$defines: ( 'xl', 1920px, 128px, 2rem, 8, '.desktop'),
( 'lg', 1440px, 96px, 1.5rem, 6, '.tablet.landscape'),
( 'nm', 1366px, 64px, 1rem, 4, '.tablet.portrait'),
( 'sm', 1280px, 48px, 0.75rem, 3, '.mobile.landscape'),
( 'xs', 1024px, 32px, 0.5rem, 2, '.mobile.portrait');
$defines-color:('success', $success),
('highlight', $highlight),
('warning', $warning),
('dangerous', $dangerous),
('orange', $orange),
('black', $black),
('black-05', rgba($black, 0.5)),
('white', $white);
$defines-pm: (1, 4px),
(2, 8px),
(3, 12px),
(4, 16px),
(5, 20px);
$defines-pmname: ('l', 'r', 'lr', 't', 'b', 'tb', null);
@mixin generateGridWidth ($size, $name) {
    .w-#{$name} {
        width: 100%;
        max-width: $size;
    }
}
@mixin generateSize ($size, $name) {
    @include generateGridWidth($size, $name);
    .h-#{$name} {
        height: $size;
    }
    .mh-#{$name} {
        max-height: $size;
    }
    .w-full-#{$name} {
        width: calc(100% - #{$size});
    }
    .h-full-#{$name} {
        height: calc(100% - #{$size});
    }
}