<div>
    <div class='title txt-center p-2'>
        Statistics Table
    </div>
    <button class='' (click)='addNewCareer()'>Tạo mục mới</button>
    <button class='' (click)='getInfoPeople()'>Lấy thông tin</button>
    <div *ngIf='isAddNewCareer'>
        <div class='grp'>
            <label class='txt-r'>Tên mục</label>
            <input placeholder="Nhập tên category" [(ngModel)]='newCareer.name' />
        </div>
        <div class='grp'>
            <button (click)='saveNewCareer()'>Save</button>
            <button (click)='cancelNewCareer()'>Cancel</button>
        </div>
    </div>


    <div class='table'>

        <ng-container *ngFor='let item of data'>
            <div class='flex-right align-center ptb-3'>
                <span class='pr-2 txt-bold'>{{item.name}}</span>
                <button (click)='addNewPeople(item)'>Thêm người mới</button>
            </div>
            <div *ngIf='item.enabledAddPeople'>
                <app-admin-statistics-createpeople (saveEvent)='saveNewPeople($event)' (cancelEvent)='cancelNewPeople()'>
                </app-admin-statistics-createpeople>
            </div>
            <div class='table b-1 b-black'>
                <ng-container *ngFor='let r of item.data'>
                    <div class="flex flex-left">
                        <div class='w-sm-3 p-1 b-1 b-black'>{{r.fullname}}</div>
                        <div class='w-sm-3 p-1 b-1 b-black'>{{r.shortname}}</div>
                        <div class='w-sm-3 p-1 b-1 b-black'>
                            <button class='bg-warning txt-white'>Sửa</button>
                            <button class='bg-dangerous txt-white'>Xóa</button>
                            <button class='' (click)='res = r.socials'>Xã hội</button>
                        </div>
                    </div>
                    <div class='p-2' *ngFor='let s of res'>
                        <div>
                            <app-admin-people-addsocial [social]='s'></app-admin-people-addsocial>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>