.navfixed {
    width: 100%;
    font-size: 1.25rem;
    a,
    .item {
        height: 64px;
        padding: 0 10px;
        min-width: 64px;
        justify-content: center;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
    }
}

.navfixed-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.navfixed-left {
    width: 100%;
}

.navfixed-popup {
    position: absolute;
    top: 100%;
    visibility: collapse;
    right: 0;
}

.navfixed-username:hover {
    .navfixed-popup {
        visibility: visible;
    }
}

.navfixed-username:not(:hover) {
    .navfixed-popup {
        visibility: collapse;
    }
}