<div class='navfixed center bg-primary ps-relative'>
    <div class='navfixed-left flex align-items-center'>
        <a class='black-light-hover' [routerLink]="['/']"><div class='w-full h-full img' [ngStyle]='{"background-image": "url(/assets/icons/star_64.png)"}'></div></a>
        <app-search class="item" (enterKeyEvent)='getSearchResults($event)'></app-search>
    </div>
    <div class='navfixed-right flex align-items-center'>
        <ng-container *ngIf='!loginResponse.isSignedIn'>
            <!-- <a  [routerLink]="['/login']"><i class="icons">add_shopping_cart</i></a> -->
            <a [routerLink]="['/login']">Log In</a>
            <a [routerLink]="['/register']">Register</a>
        </ng-container>
        <ng-container *ngIf='loginResponse.isSignedIn'>
            <a class='navfixed-username'>
                {{loginResponse.username || loginResponse.email}}
                <div class='navfixed-popup bg-white b-2 b-primary'>
                    <a class='h-48px' [routerLink]="['/admin']">Manage your page</a>
                    <a class='h-48px' [routerLink]="['/admin/statistics']">Statistics</a>
                    <a class='h-48px' (click)="logout()">{{'Log Out'}}</a>
                </div>
            </a>
        </ng-container>
    </div>
</div>