<div class='navfixed center bg-primary ps-relative'>
    <div class='navfixed-left'>
        <div class='navfixed-item black-light-hover'>
            <a [routerLink]="['/']"><i class='icons'>home</i></a>
        </div>
        <!-- <div *ngFor='let nv of categories' class='navfixed-item black-light-hover'>
            <a [routerLink]="['/', nv.url]">{{nv.name}}</a>
        </div> -->
    </div>
    <div class='navfixed-right'>
        <ng-container *ngIf='!loginResponse.isSignedIn'>
            <div class='navfixed-item'>
                <a [routerLink]="['/login']"><i class="icons">add_shopping_cart</i></a>
            </div>
            <div class='navfixed-item'>
                <a [routerLink]="['/login']">Log In</a>
            </div>
            <div class='navfixed-item'>
                <a [routerLink]="['/register']">Register</a>
            </div>
        </ng-container>
        <ng-container *ngIf='loginResponse.isSignedIn'>
            <div class='navfixed-item navfixed-username'>
                <a>
                    {{loginResponse.username || loginResponse.email}}
                </a>
                <div class='navfixed-popup'>
                    <div class='navfixed-item'>
                        <a [routerLink]="['/admin']">Manage your page</a>
                    </div>
                    <div class='navfixed-item'>
                        <button (click)="logout()">{{'Log Out'}}</button>
                    </div>
                </div>
            </div>

        </ng-container>
    </div>
</div>