.navfixed {
    width: 100%;
    font-size: 1.25em;
}

.navfixed-item {
    display: inline-block;
    height: 100%;
    padding: 10px 8px;
    cursor: pointer;
    &:hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
}

.navfixed-right {
    position: absolute;
    top: 0;
    right: 0;
}

.navfixed-left {
    width: 100%;
}

.navfixed-popup {
    position: absolute;
    top: 100%;
}

.navfixed-username:active .navfixed-popup {
    visibility: visible;
}

.navfixed-username:not(:hover) .navfixed-popup {
    visibility: collapse;
}