<div class='admin-cate'>
    <button (click)='btnOpenAddForm()'>
        <i class='icons'>add</i>
        <span>Thêm category</span>
    </button>
    <app-admin-category-create *ngIf='visibleAddForm' (closeForm)='visibleAddForm = !$event'> </app-admin-category-create>
    <div class='admin-catelist'>
        <ng-container *ngFor='let cate of categories'>
            <div>
                <span>
                    - {{cate.name}}
                </span>
                <span>
                    - {{cate.url}}
                </span>
                <button class='sm' (click)='btnBackTop(cate)'><i class='icons'>expand_more</i></button>
                <button class='sm' (click)='btnNextTop(cate)'><i class='icons'>expand_less</i></button>
                <button class='sm' (click)='btnBlock(cate.id)'><i class='icons'>block</i></button>
                <button class='sm' (click)='btnEdit(cate)'><i class='icons'>edit</i></button>
                <button class='sm' (click)='btnDelete(cate.id)'><i class='icons'>delete</i></button>
            </div>
            <app-admin-category-create *ngIf='cate.isEdit' [category]='cate'> </app-admin-category-create>
        </ng-container>
    </div>
</div>
