<div class='paging' *ngIf='hasPaging'>
    <div class='paging-controls' *ngIf='!page.loadMore'>
        <button (click)='btnBackClick()' class='back'>Back</button>
        <button (click)='backPaging()' class='back-paging' *ngIf='indexPaging > minIndexPaging'>...</button>
        <ng-container *ngIf='hasNumber'>
            <ng-container *ngFor='let ix of pagings'>
                <button class='number' (click)='btnGotoClick(ix)' [ngClass]='{"paging-selected": checkSelected(ix)}'>{{ix + 1}}</button>
            </ng-container>
        </ng-container>
        <button (click)='nextPaging()' class='next-paging' *ngIf='indexPaging < maxIndexPaging'>...</button>
        <button (click)='btnNextClick()' class='next'>Next</button>
    </div>
    <div *ngIf='page.loadMore'>
        <button (click)='btnNextClick(true)' class='more'>Load more</button>
    </div>
</div>