<div class='list-icon'>
    <div class='title fs-lg ptb-3' *ngIf='name'>
        <button>Xem biểu đồ</button>{{name}}
    </div>
    <div class="ps-relative scrollbar-custom-3 scrollbar-y mh-600px">
        <ng-container *ngFor='let card of displayCards'>
            <div class='item p-1 mb-1 flex'>
                <div class='img-circle mr-3 img-cover sq-64' [ngStyle]='{"background-image": "url(" + card.imagesUrl + ")"}'></div>
                <div class='w-full align-center flex-start'>
                    <div class="block w-full">
                        <a [routerLink]='card.url' [innerHTML]='card.title'></a>
                        <div [innerHTML]='card.message'>1</div>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- <app-scroll></app-scroll> -->
    </div>
    <app-paging [page]='pageConfig' (backClick)='back($event)' (nextClick)='next($event)' (loadMoreClick)='loadMore($event)' [hasNumber]='false'></app-paging>
</div>