<div class='list-icon'>
    <div class='title fs-lg mtb-3 pb-2 txt-r bb-2 b-{{type}} cl-{{type}}' *ngIf='name'>
        <!-- <button>Xem biểu đồ</button> -->
        <i class='icons'>star_border</i>
        {{name}}
    </div>
    <div class="ps-relative scrollbar-custom-3 scrollbar-y mh-600px">
        <ng-container *ngFor='let card of displayCards'>
            <div class='item p-1 mb-1 flex'>
                <div class='img-circle img-cover sq-64 iblock' [ngStyle]='{"background-image": "url(" + card.avatar + ")"}'></div>
                <div class='pl-2 w-full-64px align-center'>
                    <div class="block w-full-128px">
                        <a [routerLink]='card.url' [innerHTML]='card.title'></a>
                        <div [innerHTML]='card.message'>1</div>
                    </div>

                    <div class="block w-128px txt-r">
                        10239123
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- <app-scroll></app-scroll> -->
    </div>
    <app-paging [page]='pageConfig' (backClick)='back($event)' (nextClick)='next($event)' (loadMoreClick)='loadMore($event)'
        [hasNumber]='false'></app-paging>
</div>