<div class='home'>
    <div class='row home-banner'>
        <div class='home-prd-type'>
            <div class='btn'>Diện thoại</div>
            <div class='btn'>Điện lạnh</div>
            <div class='btn'>Điện tử</div>
        </div>
        <div class='home-prd-images'>
            <app-list-card [cards]='cards' [pageSize]='16'></app-list-card>
            <app-list-post [cards]='cards' [pageSize]='8'></app-list-post>
        </div>
        <div class='home-prd-news'>
            <app-list-link [cards]='cards' [pageSize]='8' [hasPaging]='false'></app-list-link>
        </div>
    </div>
    <div class='row home-prd-feature'>

    </div>
    <div class='row home-prd-new'></div>
    <div class='row home-customer'></div>
</div>