@import 'header/header.scss';
@import 'header/nav/nav-fixed/nav-fixed.scss';

@import 'footer/footer.scss';
@import 'home/home.scss';

.container {
    display: flex;
    margin-top: 64px;
    min-height: calc(100vh - 128px);
}

.content-left {
    width: 200px;
}

.content-center {
    width: 100%;
}