.navfixed {
    height: 100%;
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    font-size: 1.25em;
}

.navfixed-item {
    display: inline-block;
    height: 100%;
    padding: 0px 16px;
    cursor: pointer;
}

.navfixed-right {
    position: absolute;
    top: 0;
    right: 0;
}

.navfixed-left {
    width: 100%;
}

.navfixed-popup {
    position: absolute;
    top: 100%;
}

.navfixed-username:active .navfixed-popup {
    visibility: visible;
}

.navfixed-username:not(:hover) .navfixed-popup {
    visibility: collapse;
}