<div class='statistics'>
    <app-search (enterKeyEvent)='getSearchResults($event)'></app-search>
    <div class='ptb-2 fs-lg'>
        <div class='flex'>
            <div class="w-xl-4 p-2 txt-center" *ngFor='let soc of socials'>
                <div class='iblock svg-{{soc.name.toLowerCase().trim().replace(" ", "-")}} sq-36'></div>
                <div>{{soc.name}}</div>
            </div>
        </div>
    </div>
    <div class='flex'>
        <ng-container *ngIf='datafull'>
            <ng-container *ngFor='let item of datafull'>
                <app-list-icon class="w-xl-4 w-nm-12 iblock p-1" [cards]='item.data' [pageSize]='10' [isLoadMore]='true' [name]='item.name'></app-list-icon>
            </ng-container>
        </ng-container>
    </div>
</div>

<app-message-dialog [message]='errorMessage' [enabled]='errorMessage' (closeEvent)='closeMessageDialog()'></app-message-dialog>