<div class='statistics'>
    <app-search (enterKeyEvent)='getSearchResults($event)'></app-search>
    <div class='ptb-2 fs-lg'>
        <div class='flex'>
            <div class="col-xl-3 col-md-6 col-sm-12 p-2" *ngFor='let soc of socials'>
                <div class='txt-center'>
                    <div class='iblock svg-{{soc.name.toLowerCase().trim().replace(" ", "-")}} sq-36'></div>
                    <div>{{soc.name}}</div>
                </div>
                <div *ngIf='soc.careers && soc.careers.length > 0'>
                    <ng-container *ngFor='let item of mapData(soc.careers)'>
                        <app-list-icon class="mtb-3" [type]='soc.name.toLowerCase().trim().replace(" ", "-")' [cards]='item.data' [pageSize]='10' [isLoadMore]='true' [name]='item.name'></app-list-icon>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<app-message-dialog [message]='errorMessage' [enabled]='errorMessage' (closeEvent)='closeMessageDialog()'></app-message-dialog>