<div class="card-container w-full">
    <ng-container *ngFor='let card of displayCards'>        
        <div class='column p-2'>
            <div class="card image block">
                <div class="card-image image" [ngStyle]='{"background-image": "url("+  card.imagesUrl+")"}' (click)='openExtendPanelOrDialog(card)'></div>
                <div class='card-title ptb-2 plr-1'>
                    <a class='card-link' [routerLink]='card.url'>{{card.title}}</a>
                </div>
            </div>
        </div>
        <div class='popup' *ngIf='card && card.enabledDialog'>
            <app-list-dialog [card]='card'></app-list-dialog>
        </div>
    </ng-container>
</div>
<div class='card-paging'>
    <app-paging [page]='pageConfig' (nextClick)='next($event)' (backClick)='back($event)' (gotoClick)='goto($event)'></app-paging>
</div>