<div class="list-card-container w-full">
    <ng-container *ngFor='let card of displayCards'>        
        <div class='column p-2'>
            <app-list-item [card]='card' (openEvent)='openExtendPanelOrDialog($event)'></app-list-item>
        </div>
        <app-list-dialog *ngIf='card && card.enabledDialog' [card]='card' [widthCls]='widthCls'></app-list-dialog>
    </ng-container>
</div>
<div class='card-paging'>
    <app-paging [page]='pageConfig' (nextClick)='next($event)' (backClick)='back($event)' (gotoClick)='goto($event)'></app-paging>
</div>